header {
    width: 100%;
    background-color: lightgrey;
    padding: 10px;
}
.nome-header, .cargo-header {
    padding: 5px;
    margin: 0;
}
.nome-header {
    font-weight: bold;
    font-size: 32px;
}
.cargo-header {
    padding-top: 0;
    color: #626262;
    font-size: 24px;
}
.goal {
    margin: 20px 0;
    padding: 10px 0;
    background: rgba​(178, ​34, ​34, 0.3);
}
h3 {
    font-size: 36px;
}